[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service
Required=kube-apiserver.service

[Service]
EnvironmentFile=-/opt/kube-master/conf/kube-scheduler.conf
ExecStart=/opt/kube-master/bin/kube-scheduler ${KUBE_LOGTOSTDERR}     \
                        ${KUBE_LOG_LEVEL}       \
                        ${KUBE_LEADER_ELECT}    \
                        ${KUBE_LOG_DIR}         \
                        ${KUBE_KUBECONFIG}      \
                        ${KUBE_MASTER} 
Restart=on-failure

[Install]
WantedBy=multi-user.target
