[Unit]
Description=Flanneld overlay address etcd agent
After=network.target

[Service]
EnvironmentFile=-/opt/flannel/conf/flannel.conf
ExecStart=/opt/flannel/bin/flanneld --ip-masq --iface={{ INTERFACE }} ${FLANNEL_ETCD} ${FLANNEL_ETCD_KEY}
ExecStartPost=/opt/flannel/bin/mk-docker-opts.sh -d /run/flannel/docker
Type=notify

[Install]
WantedBy=multi-user.target
